@page "/file"

<PageTitle>File</PageTitle>

<div style="min-height: 60vh" class="d-flex flex-column align-items-center justify-content-center">
    <h1>File</h1>

    <div class="columns">
        <div class="column">
            <button class="btn-file">
                Choose some files to read<br>(File API) <input id="imgupload" type="file" onchange="readFiles(this.files)" multiple>
            </button>
            <p>Number of selected files: <b id="count">N/A</b></p>
        </div>
    </div>
    <ul id="target"></ul>
</div>
@code {

}
