@page "/location"
@inject IJSRuntime JsRuntime

<PageTitle>Location</PageTitle>
<div style="min-height: 60vh" class="d-flex flex-column align-items-center justify-content-center">
    <h1>Location</h1>

    <button id="askButton">Ask for location</button>

    <div id="target"></div>
</div>

@code {
    protected override async void OnAfterRender(bool firstRender)
    {
        await JsRuntime.InvokeVoidAsync("getLocation");
    }
}
