@page "/online"
@inject IJSRuntime JsRuntime

<PageTitle>Online</PageTitle>
<div style="min-height: 60vh" class="d-flex flex-column align-items-center justify-content-center">
    <h1>Online</h1>

    <p>Turn the network connection on/off to see the changes.</p>

    <p>Initial connection state was <b id="status">unknown</b>.</p>

    <div id="target"></div>
</div>

@code {
    protected override async void OnAfterRender(bool firstRender)
    {
        await JsRuntime.InvokeVoidAsync("online");
    }
}
