@page "/share"

<PageTitle>Share</PageTitle>
<div style="min-height: 60vh" class="d-flex flex-column align-items-center justify-content-center">
    <h1>Share</h1>

    <button onclick="share()">Share whatwebcando.today<br>with <b>Web Share</b></button>
</div>
@code {

}
