@page "/vibrate"

<PageTitle>Vibrate</PageTitle>
<div style="min-height: 60vh" class="d-flex flex-column align-items-center justify-content-center">
    <h1>Vibrate</h1>

    <button class="btn btn-primary" onclick="vibrateSimple()">Vibrateeee</button>
</div>
@code {

}
