@page "/video"

<PageTitle>Video</PageTitle>
<div style="min-height: 60vh" class="d-flex flex-column align-items-center justify-content-center">
    <h1>Video</h1>

    <div class="column">
        <p><button type="button" onclick="getStream('video')">Grab video</button></p>

        <video controls autoplay style="height:180px; width: 240px;"></video>
    </div>
</div>
@code {

}
