@page "/"

<PageTitle>Index</PageTitle>

<div style="min-height:100vh; background-image: linear-gradient(black, grey); text-align:center " class="d-flex flex-column align-items-center justify-content-center">
    <h1 style="color:#fff; letter-spacing:0.5rem" class="responsive-font-h1">Welcome to my page!</h1>
</div>


