<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

        <li class="nav-header"></li>
        <li class="nav-item">
            <NavLink class="nav-link" href="/bmi">
                <i class="nav-icon fas fa-calendar-alt"></i>
                <p>
                    Bmi
                </p>
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="/random">
                <i class="nav-icon fas fa-calendar-alt"></i>
                <p>
                    Calculate
                </p>
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="/counter">
                <i class="nav-icon fas fa-calendar-alt"></i>
                <p>
                    Counter
                </p>
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="/fetchdata">
                <i class="nav-icon fas fa-calendar-alt"></i>
                <p>
                    Fetch Data
                </p>
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="/todo">
                <i class="nav-icon fas fa-calendar-alt"></i>
                <p>
                    Todo
                </p>
            </NavLink>
        </li>


    </ul>
</nav>